<!DOCTYPE html>
<head>
    <title>Super Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/assets/css/dbevent.css">
    <link rel="stylesheet" media="screen" href="/assets/css/dbevent.css" />
    <!-- Bootstrap & JS -->
      <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
      <script type="text/javascript" src="/assets/script/jquery.js"></script>
      <script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/assets/script/popper.js"></script>
</head>
<body>
                <div id="content">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button type="button" id="sidebarCollapse" class="btn">
                                <img src="/assets/img/menu.png">
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item" style="color:#7E8DA4;">
                                        <img src="/assets/img/superadmin.jpeg" style="height: 30px;" class="rounded-circle">
                                        Super Admin
                                    </li>
                            </div>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <div class="container">
                                <img src="/assets/img/permif.png">
                                <div class="detailevt">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label>Nama Acara</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="nmAcara">PERMIF </div>
                                        </div>
        
                                        <div class="col-md-6">
                                            <label>Organisasi</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="nmOrganisasi">HIMA IF</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Tanggal Mulai</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="tglMulai">27/11/2022</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Waktu Mulai</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="waktuMulai">10.00</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Tanggal Berakhir</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="tglEnd">30/11/2022</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Waktu Berakhir</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="waktuEnd">17.00</div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Admin</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="idAdmin">1301193409</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

</body>
</html>