<!DOCTYPE html>
<head>
    <title>Super Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/assets/css/daftarorganisasi.css">
    <link rel="stylesheet" media="screen" href="/assets/css/daftarorganisasi.css" />
    <!-- Bootstrap & JS -->
      <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
      <script type="text/javascript" src="/assets/script/jquery.js"></script>
      <script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/assets/script/popper.js"></script>
</head>
<body>
            <div class="wrapper">
                <!-- Sidebar -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <img src="/assets/img/logofix.png" style="height: 50px;">
                    </div>

                    <ul class="list-unstyled components">
                        <li>
                            <a href="#"><ion-icon name="home-outline" class="col-1" style="height: 22px;"></ion-icon>Home</a>
                        </li>
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><ion-icon name="clipboard-outline" class="col-1" style="height: 22px;"></ion-icon>Daftar Acara</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="/super/realtimecount">Realtime Count</a>
                                </li>
                                <li>
                                    <a href="#">Daftar Paslon</a>
                                </li>
                                <li>
                                    <a href="#">Daftar Pemilih</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><ion-icon name="person-outline" class="col-1" style="height: 22px;"></ion-icon>Daftar Admin</a>
                        </li>
                        <li class="active">
                            <a href="/super/organizations"><ion-icon name="people-outline" class="col-1" style="height: 22px;"></ion-icon>Daftar Organisasi</a>
                        </li>
                        <li>
                            <a href="/super/logout"><ion-icon name="log-out-outline" class="col-1" style="height: 22px;"></ion-icon>Logout</a>
                        </li>
                    </ul>
                </nav>
                <div id="content">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button type="button" id="sidebarCollapse" class="btn">
                                <img src="/assets/img/menu.png">
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item" style="color:#7E8DA4;">
                                        <img src="/assets/img/superadmin.jpeg" style="height: 30px;" class="rounded-circle">
                                        Super Admin
                                    </li>
                            </div>
                        </div>
                    </nav>
                    <div class="container-fluid">
                        <div class="col-md-12 headform">
                            <h4>Daftar Organisasi</h4>
                        </div>
                        <div class="formAdd">
                            <form action="" method="">
                                <h6>Add Organisasi</h6>
                                <div class="divide-row"></div>
                                    <div class="form-group row">
                                        <label for="inputOrganisasi" class="col-form-label">Nama</label>
                                        <div class="col-sm-6 namaOrganisasi">
                                          <input type="text" class="form-control" id="nmOrganisasi" placeholder="">
                                        </div>
                                        <label for="inputEmail" class="col-form-label">Jenis</label>
                                        <div class="col-sm-4 jenis">
                                          <input type="text" class="form-control" id="inputJenis" placeholder="">
                                        </div>
                                        <div class="col-sm-1 addBtn">
                                            <button type="button" class="btn" class="btn-label col-1"><ion-icon name="add"></ion-icon>Add Row</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
        
                        <div class="TabOrganisasi">
                            <table class="table table-bordered table-responsive-md">
                                <thead class="tabhead">
                                  <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Jenis</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                    <tbody>
                                        <tr class="tr1">
                                            <td>1.</td>
                                            <td>HIMAIF</td>
                                            <td>Himpunan</td>
                                            <td><button type="button" class="btn btn-light trash"><ion-icon name="trash-outline"></ion-icon></button></td>
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#content').toggleClass('active');
        });
    
    });
    </script>

</body>
</html>