* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #F6F7FC;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #7E8DA4;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-height: 100vh;
    min-width: 250px;
    max-width: 250px;
    background: #292b2c;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #292b2c;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

ion-icon {
    margin-top: 5px;
    top: 5px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
    color: #7E8DA4;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #292b2c;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 65%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 70px !important;
    background: #292b2c;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    background-color: #F6F7FC;
    min-height: 100vh;
    transition: all 500ms linear;
}

#carouselCon { 
    /* width: 100%; */
    height: auto;
    margin-top: -40px;
    margin-left: -15px;
    display: inline-flex;
    /* border: 1px solid red; */
    box-shadow: black;
    transition: all 0.3s;
}

#carouselCon.active {
    margin-left: 110px;
}

.container1 {
    padding-left: 20px;
    padding-top: 20px;
    width: 1160px;
    height: 350px;
    
}

.container2 {
    padding-left: 20px;
    padding-top: 20px;
    width: 1160px;
    height: 350px;
    
}

#card-con {
    transition: all 0.3s;
}

#card-con.active {
    margin-left: 140px;
}

#content .cards-rule {
    /* border: 1px solid red; */
    margin-left: 20px;
    width: 1140px;
}

#content .cards-rule li {
    display: inline-flex;
    padding-left: 25px;
}

#content .card-body p {
    font-size: 20px;
}

#content .card {
    border: none;
}

#content .card .card-title {
    color: #5E738D;
}

#content .card p {
    color: #7E8DA4;
    font-size: 15px;
    width: 280px;
    margin-bottom: 20px;
}

.card1 .card-img-top {
    margin: 25px 0px 0px 110px;
}

.card2 .card-img-top {
    margin: 25px 0px 0px 110px;
}

.card3 .card-img-top {
    margin: 25px 0px 0px 110px;
}

#content .head-project h3 {
    color: #5E738D;
    text-align: center;
    width: 350px;
    margin-left: 400px;
    margin-top: 40px;
}

.mem-card .card-img-top {
    margin: 30px 0px 0px 0px;
}

.mem-card .bagas h4 {
    margin: -85px 0px 0px 85px;
}

.mem-card .rahma h4 {
    margin: -85px 0px 0px 85px;
}

.card .rahma h4 {
    margin: -85px 0px 0px 100px;
}

.card .rahma p {
    margin: 10px 0px 0px 85px;
}

.card .risma h4 {
    margin: -85px 0px 0px 110px;
}

.card .risma p {
    margin: 10px 0px 0px 95px;
}

.mem-card p {
    margin: 10px 0px 0px 70px;
}

#content .member-card {
    /* border: 1px solid black; */
    margin-left: 20px;
    width: 1140px;

}

#content .member-card li {
    padding-left: 10px;
    display: inline-flex;
    list-style: none;
}




/* .carousel-container.active {
    margin-left: 100px;
} */



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebar .progress-bar {
        left: 10px;
    }
    #content {
        width: 100%;
    }
}