*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    width: 0;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color:#CFE0E8;
}

.header {
    position: absolute;
    width: 100%;
    height: 180px;
    left: 0px;
    padding-left: 30px;
    top: 30px;
    border-bottom: 1px solid grey;
}

#telU {
    position: absolute;
    width: 135px;
    height: 135px;
    left: 1240px;
    top: 10px;
}

.head {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 106px;
    letter-spacing: 0.05em;

    color: #282828;

}

.sub-head {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 35px;
    line-height: 47px;

    letter-spacing: 0.05em;

    color: #282828;
}

.form {
    position: fixed;
    width: 1000px;
    height: 550px;
    left: 0px;
    padding: 0px 0px 0px 30px;
    top: 250px;
}

.input-username #uname{
    font-size: 25px;
    color: #282828;
    border: 1px solid #ffffff;
    position: absolute;
    width: 686px;
    height: 55px;
    left: 200px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.input-nama #name{
    font-size: 25px;
    color: #282828;
    border: 1px solid #ffffff;
    position: absolute;
    width: 686px;
    height: 55px;
    left: 200px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.input-email #mail{
    font-size: 25px;
    color: #282828;
    border: 1px solid #ffffff;
    position: absolute;
    width: 686px;
    height: 55px;
    left: 200px;
    top: 200px;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.input-pass #pw{
    font-size: 25px;
    color: #282828;
    border: 1px solid #ffffff;
    position: absolute;
    width: 686px;
    height: 55px;
    left: 200px;
    top: 300px;
    background: #FFFFFF;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-group #username {
    font-family: 'Segoe UI',sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #282828;
}

.form-group #nama {
    margin-top: 55px;
    top: 1000px;
    font-family: 'Segoe UI',sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #282828;
}

.form-group #email {
    margin-top: 52px;
    top: 1000px;
    font-family: 'Segoe UI',sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #282828;
}

.form-group #pass {
    margin-top: 50px;
    top: 1000px;
    font-family: 'Segoe UI',sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #282828;
}

#email {
    font-family: 'Segoe UI',sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #282828;
}

#pass {
    font-family: 'Segoe UI',sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 0.05em;

    color: #282828;
}

.form-btn {
    margin-top: 100px;
    width: 500px;
    height: 60px;
}

.form-btn #btnKembali {
    width: 166px;
    height: 60px;
    left: 57px;
    top: 751px;

    background: #282828;
    border: 1px solid #282828;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.form-btn #btnKembali:hover {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

.form-btn #btnDaftar:hover {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

.form-btn #btnDaftar {
    margin-left: 30px;
    width: 166px;
    height: 60px;
    left: 257px;
    top: 751px;

    background: #619371;
    border: 1px solid #619371;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding: 220px 0px 0px 100px;
    overflow: hidden;
    opacity: 0.96;
    background: rgba(241, 235, 235, 0);
}

.modal-content {
    border-radius: 10px;
}

.modal-content .modal-header {
    background-color: #282828;
    border-bottom: 0 none;
}

.modal-header h1 {
    padding : 10px 0px 0px 80px;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ECEAE1;
}

.modal-content .modal-body {
    background-color: #282828;
    border-bottom: 0 none;
}

.modal-content .modal-footer {
    background-color: #282828;
    border-top: 1px solid grey;
}

.modal-footer a {
    color: #ECEAE1;
    margin-right: 127px;
}

.modal .modal-dialog {
    width: 300px; 
    height: 150px;
}

.modal-body p {
    text-align: center;
    padding : 0px 10px 0px 10px;
    left: 362px;
    color: #ECEAE1;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.05em;
}
