* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #F6F7FC;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #7E8DA4;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-height: 100vh;
    min-width: 250px;
    max-width: 250px;
    background: #292b2c;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #292b2c;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

ion-icon {
    margin-top: 5px;
    top: 5px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
    color: #7E8DA4;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #292b2c;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 65%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 70px !important;
    background: #292b2c;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    background-color: #F6F7FC;
    min-height: 100vh;
    transition: all 500ms linear;
}

#realtime {
    transition: all 0.3s;
}

#realtime.active {
    margin-left: 100px;
}

.event img {
    height: 190px;
    margin: -25px 0px 0px 520px;
}

.event h3 {
    color: #7E8DA4;
    margin: 10px 0px 0px 500px;
    width: 250px;
    font-weight: bolder;
}

.event p {
    color: #7E8DA4;
    margin: 10px 0px 0px 400px;
    width: fit-content;
    font-weight: 300;
}

.progress {
    width: 850px;
    margin: 40px 0px 0px 220px;
    top: 340px;
}

.progress-detail {
    width: 150px;
    margin: -25px 0px 0px 50px;
}

.progress-detail p {
    font-weight: bold;
    color: #7E8DA4;
}

.vote-detail {
    width: 350px;
    margin: 10px 0px 0px 460px;
}

.vote-detail h2 {
    color: #7E8DA4;
    font-weight: bolder;
}

.vote-detail h6 {
    width: 200px;
    margin: 290px 0px 0px 75px;
    color: #7E8DA4;
    font-weight: bolder;
}

.paslon1-detail {
    width: 350px;
    margin-left: 220px;
    margin-top: -300px;
}

.paslon img {
    height: 120px;
}

.paslon h3 {
    font-weight: bolder;
    color: #7E8DA4;
}

.paslon1-detail h3 {
    width: 20px;
    margin : 0px 0px 25px 50px;
}

.paslon2-detail {
    width: 350px;
    margin-left: 820px;
    margin-top: -250px;
}

.paslon h3 {
    width: 20px;
    margin : 0px 0px 25px 50px;
}

.paslon p {
    font-weight: bolder;
    color: #7E8DA4;
    font-size: 28px;
    width: 110px;
    margin: 20px 0px 0px 5px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #sidebar .progress-bar {
        left: 10px;
    }
    #content {
        width: 100%;
    }
}